# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data & Models (Commonly large files)
CyberAttackPrediction/Dataset/*.csv
CyberAttackPrediction/static/Dataset/*.csv
CyberAttackPrediction/model/*.hdf5
*.pkl
*.h5

# Allow specific extensions in backups
!backups/**/*.zip
!backups/**/*.7z
!backups/**/*.md

# Allow Software folder
!backups/**/Software/
!Software/

# OS Files
.DS_Store
Thumbs.db
.env

# VS Code
.vscode/

#TODO
TODO.md

# End of .gitignore
CyberAttackPrediction/scripts/
CyberAttackPrediction/_vscode_backup

# Backups & Legacy Data
backups/**/*
!backups/**/
backups/CyberAttackPrediction/
backups/**/.venv_backup/
backups/**/Dataset/
backups/**/model/
backups/**/__pycache__/

!backups/**/*.zip
!backups/**/*.7z
!backups/**/*.md
!backups/**/Software/**
!Software/**

# Unzip Folders
*unzip*/
[Uu]nzip*/
temp_unzip/

# Jupyter
.ipynb_checkpoints/
CyberAttackPrediction/.ipynb_checkpoints/

# Secrets & Credentials
saved_creds.json
CyberAttackPrediction/saved_creds.json
users.json
CyberAttackPrediction/users.json

# add new documenattion
documentation_docs/

*.log
launcher_debug.log
*.pyc
Project materials/

# add new folder to git ignore for tactical_sandbox 
tactical_sandbox/

# add new bat file 
start_launcher.bat
test_sandbox.bat
